@import "./base/colors.scss";
@import "./base/sparkle.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.tm-container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1.2rem;
}


